.app-component-container {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.app-component-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 3vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: rgb(255, 40, 144);
}
.app-component-text {
  color: #ffffff;
  font-size: 14px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: "Roboto";
  font-weight: 600;
  line-height: 0.1;
  text-transform: capitalize;
}
.app-component-topbar {
  flex: initial;
  width: 100%;
  height: 12vh;
  display: flex;
  position: relative;
  align-self: center;
  align-items: flex-start;
  justify-content: center;
  background-color: #ffffff;
}
.app-component-container2 {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 300px;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
}
.app-component-image {
  width: 60px;
  object-fit: cover;
  margin-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 12px;
  filter: drop-shadow(0 0 4px rgba(40, 40, 40, 0.611));
}
.app-component-container3 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  flex-direction: column;
}
.app-component-text4 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
}
.app-component-text5 {
  font-size: 18px;
}
.app-component-searchbar {
  width: 35%;
  height: 40%;
  align-self: center;
  border-style: hidden;
  border-width: 0px;
  border-radius: 12px;
  background-color: #eaeaea;
}
.app-component-filter {
  height: 50%;
  align-self: center;
  font-style: normal;
  font-weight: 600;
  color: #ffffff;
  margin-left: var(--dl-space-space-halfunit);
  background-color: rgb(255, 40, 144);
}
.app-component-notification {
  height: 50%;
  align-self: center;
  margin-left: var(--dl-space-space-halfunit);
  background-color: #eaeaea;
}
.app-component-topbar .button {
  font-size: 30px;
  height: 60px;
  border: 0;
  border-radius: 12px;
}
.button {
  cursor: pointer;
}

.log-out-button {
  height: 50%;
  align-self: center;
  margin-left: var(--dl-space-space-halfunit);
  background-color: #eaeaea;
  position: absolute;
  right: 0;
  margin-right: 20px;
}
