.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  max-height: 100vh;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-main {
  flex: 0;
  width: 100%;
  height: 85vh;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  background-color: #ffffff;
}
.home-main-area {
  flex: initial;
  width: 90%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  background-color: #ffffff;
}
.home-image {
  flex: 4;
  width: 200px;
  height: 100%;
  padding: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-container1 {
  flex: 3;
  width: 200px;
  height: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.home-image1 {
  width: 80%;
  height: 75%;
  object-fit: cover;
}
.home-button {
  color: rgb(255, 255, 255);
  font-size: 36px;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #a7a7a7;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-family: "Noto Sans";
  font-weight: 800;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-width: 0px;
  padding-left: 140px;
  border-radius: 16px;
  padding-right: 140px;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: rgb(255, 40, 144);
}
.home-text {
  font-style: normal;
  font-family: "Noto Sans";
  font-weight: 700;
  text-transform: capitalize;
}
