
  body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    scroll-behavior: unset;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
  } 
